* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
/* header */
header {
  background: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.action__login,
.action__logoff,
.navbar__item a {
  text-decoration: none;
}
.action__login,
.navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  line-height: 1.75;
  font-weight: 300;
  padding: 8px 21px;
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: white;
}

.navbar__link--active::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  right: 8px;
  top: -3px;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 999px;
  color: aliceblue;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.8;
}
.action__logoff {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}
.action__login {
  margin-right: 7px;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}
.hero__content {
  width: 44%;
}
.hero_media {
  flex: 1;
}
.hero__heading {
  color: white;
  font-size: 7rem;
  font-weight: 600px;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300px;
  line-height: 1.67;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 6px;
  margin-right: -6px;
  z-index: 1;
}

.hero__images {
  object-fit: cover;
}
/* service */
.service {
  padding: 170px 0;
}
.section-heading {
  color: var(--header-bg);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section--desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.section-heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin: 0 auto;
}

.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service__item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: white;
  padding: 21px;
  transition: 0.25s;
}
.service__item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.1);
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
}
.service__item:hover .service-item__icon {
  color: white;
  background: var(--header-bg);
}

.section-heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
}
.service__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.service__btn {
  margin-top: 55px;
}
